<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="DBConnection" connectionString="Data Source=EDEN\SQL2017EXPRESS;Initial Catalog=HiTechDB;User ID=sa;Password=og36mobrian" />
		<add name="HiTechDBEntities" connectionString="metadata=res://*/MODELS.Model1.csdl|res://*/MODELS.Model1.ssdl|res://*/MODELS.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDEN\SQL2017EXPRESS;initial catalog=HiTechDB;persist security info=True;user id=sa;Password=og36mobrian;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>